$primaryAquaBlue: #055977;
$grayBackground: #282828;
/*global*/
.container{
    margin:auto;
    width:1100px;
}
.page-content{
    position: relative;
}

/*navbar*/
.navbar{
    position: fixed;
    width: 100%;
    background-color: hsla(0, 0%, 16%, 0.795);
    z-index: 99999;
    transition: all 0.6s;
    ul{
        float: left;
        list-style-type: none;
        margin: 30px 0 30px 20px;
        padding: 0;
        display: flex;
        flex-direction: row-reverse;
        li{
            a{
                font-family: 'Cairo', sans-serif;
                font-size: 22px;
                font-weight: 500;
                margin-left: 30px;
                cursor: pointer;
                color: #000;
                transition: all 0.2s;
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                color: #2ab3e6;
            }
            .active{
                color: #2ab3e6;
            }
        }
    }
    .main-icon{
        float:right;
        img{
            width: 90px;
            height: 90px;
        }
    }
}


/*mobile navbar*/
.navbar-mobile{
    height: 60px;
    background-color: hsla(0, 0%, 16%, 0.89);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 10;
    display: none;
    img{
        height: 40px;
        width: 60px;
        margin-left: 15px;
    }
    .side-menu{
        position: relative;
        height: 18px;
        width: 35px;
        .icon-bar{
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #696969;
            box-shadow: 0px 0px 4px #292929c7;
            border-radius: 5px;
        }
        .bar-1{
            top: 0;
        }
        .bar-2{
            top: 48%;
        }
        .bar-3{
            top: 100%;
        }
    }
}


/*mobile nav area*/ 
.mobile_nav_menu{
    height: 100px;
    width: 200px;
    position: fixed;
    background-color: $grayBackground;
    overflow: hidden;
    z-index: 20;
    display: none;
    .side-menu-white{
        position: relative;
        top: 21px;
        left: -61px;//intialy white side menu is under the gray side menu *15px margin + 15px margin + 35px width*
        height: 18px;
        width: 35px;
        .icon-bar{
            position: absolute;
            width: 80%;
            height: 4px;
            background-color: #fff;
            border-radius: 5px;
        }
        .bar-1{
            top: 0;
            z-index: 50;
            box-shadow: 0px 0px 10px #1b1b1b;
        }
        .bar-2{
            top: 48%;
            z-index: 40;
            box-shadow: 0px 0px 10px #1b1b1b;
        }
        .bar-3{
            top: 100%;
            z-index: 60;
        }
    }

    .list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 80px;
        //background-color: #e4e3e3;
        //box-shadow: inset 0px 0px 3px rgba(58, 58, 58, 0.603);
        li{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 12px 10px 12px 0;
           // box-shadow: inset -3px -1px 3px rgba(58, 58, 58, 0.247);
            a{
                color: #d4d3d3;
                font-weight: 500;
                text-decoration: none;
                font-family: 'Cairo', sans-serif;
            }
            a:focus{
                color: #0082b1
            }
        }
        /*li::before{
            position: absolute;
            content: "";
            top: 0;
            right: 0px;
            width: 4px;
            height: 100%;
            background-color: #0088b9;
        }*/
        
    }
    .info-details{
        position: absolute;
        bottom: 0;
        right: 5px;
        img{
            width: 70px;
            height: 70px;
            margin-left: 65%;
        }
        .info{
            list-style-type: none;
            margin-top: 5px;
            display: flex;
        flex-direction: column;
        align-items: flex-end;
            li{
                font-family: 'Cairo' , sans-serif;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                
                color: rgb(100, 100, 100);
            }
        }  
    }
}

/*header*/ 
.header-area{
    position: relative;
    .cover{
        height: 720px;
        background-image: Url("../image/forat-cover.jpg");
        background-position: 50% -100px;
        background-size: cover;
    }
    .black{
        display: none;
        height: 150px; 
        background-color: $grayBackground;
        box-shadow: inset 0px 10px 20px #363636;
    }
    .todays-book{
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: row-reverse;
        
        .book-image{
            margin-top: 20px;
            img{
                height: 400px;
                width: 320px;
            }
        }
        .book-info{
            margin-right: 70px;
            text-align: center;
            h2{
                font-family: 'Cairo', sans-serif;
                font-size: 36px;
                font-weight: 500;
                padding-top: 50%;
                margin-bottom: 80px;
            }
            h4{
                font-family: 'Cairo', sans-serif;
                font-size: 24px;
                font-weight: 400;
                color: #fff;
                margin-top: 0;
                margin-bottom: 10px;
            }
            button{
                border: 2px solid #fff;
                background-color: transparent;
                color: #fff;
                height: 40px;
                width: 100px;
                font-family: 'Cairo', sans-serif;
                font-size: 18px;
                font-weight: 500;
                margin-top: 20px;
                border-radius: 1px;
                cursor: pointer;
                transition: all 0.3s;
                box-shadow: 0px 0px 40px 5px #1b1b1b;
            }  
            button:hover{
                color: $grayBackground;
                background-color: #fff;
            }
        }
    }
}


/*about*/ 
.about{
    padding-bottom: 60px;
    background-image: url("../image/knitting_smlEDITwhiter.jpg");
    .title{
        position: relative;
        display: flex;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 42px;
        padding-top: 40px;
        padding-bottom: 30px;
        font-weight: 500;
        color: #494949;
    }
    .title::after{
        content: "";
        position: absolute;
        height: 3px;
        width: 180px;
        background-color: #494949;
        top: 82%;
    }
    .text{
        display: flex;
        justify-content: center;
        p{
            font-family: 'Cairo', sans-serif;
            font-size: 24px;
            line-height: 1.6em;
            text-align: center;
            font-weight: 500;
            max-width: 85%;
            color: #636262;
        }
    }
    .button{
        display: flex;
        justify-content: center;
        flex-direction: row;
        button{
            border: 2px solid #3d3d3d;
            background-color: #3d3d3d;
            color: #fff;
            height: 40px;
            width: 100px;
            font-family: 'Cairo', sans-serif;
            font-size: 18px;
            font-weight: 500;
            margin-top: 20px;
            border-radius: 2px;
            cursor: pointer;
            transition: all 0.3s;
            box-shadow: 0px 0px 2px 1px #f7f5f5;
        }  
        button:hover{
            //color: #fff;
            //background-color: #424242;
            box-shadow: 0px 0px 10px 5px #e4e4e4;
        }
    }
}

/*writers*/
.writers{
    height: 700px;
    background-color: #fff;
    padding: 100px 0;
    .writer-card{
        height: 590px;
        display: flex;
        .writer-photo{
            height: 100%;
            width: 520px;
            background-image: url("../image/زنجي1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 50%;
            border-radius: 3px;
            transition: all 0.5s;
            img{
                height: 100%;
                width: 100%;
                border-radius: 3px;
            }
        }

        .writer-info{
            position: relative;
            height: 470px;
            width: 580px;
            background-color: rgba(247, 247, 247, 0.815);
            box-shadow: 1px 3px 7px #9c9c9c;
            top: 120px;
            left: -60px;
            padding: 30px 50px;
            border-radius: 3px;
            h2{
                font-family: 'Cairo', sans-serif;
                font-size: 30px;
                color: rgb(48, 48, 48);
                word-spacing: 4px;
            }
            p{
                font-family: 'Cairo', sans-serif;
                font-size: 18px;
                color: #696969;
                margin: 20px 0 30px 0;
                line-height: 1.6em;
            }
        }
    }
}

/*book slider*/ 
.book-slider{
    overflow: hidden;
    background-color: rgb(248, 248, 248);
    .title{
        position: relative;
        display: flex;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 46px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-weight: 500;
        color: rgb(36, 36, 36);
    }
    .title::after{
        content: "";
        position: absolute;
        height: 3px;
        width: 100px;
        background-color: #282828;
        top: 75%;
    }

    .books{
        
        Ul{
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            li{
                display: flex;
                flex-direction: column;
                align-content: center;
                width: 33.333333%;
                .book-image{
                    display: flex;
                    justify-content: center;
                    
                    img{
                        height: 300px;
                        width: 230px;
                    }
                }
                .book-description{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    h3{
                        position: relative;
                        font-family: 'Cairo', sans-serif;
                        font-size: 22px;
                        margin: 0;
                        padding: 30px 0 20px 0;
                    }
                    h3::after{
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 35%;
                        height: 2px;
                        width: 30%;
                        background-color: rgb(199, 199, 199);
                    }
                    p{
                        margin-top: 5px;
                        font-family: 'Cairo', sans-serif;
                        max-width: 80%;
                        line-height: 26px;
                        
                    }
                }
            }
        }
    }
}

//quote
.quote{
    text-align: center;
    background-color: #282828;
    padding: 50px 0px;
    q{
        font-size: 24px;
        font-family: 'Cairo', sans-serif;
        line-height: 1.7em;
        color: #fff;
        word-spacing: 0.2em;
    }
    p{
        font-size: 28px;
        font-weight: 500;
        font-family: 'Cairo', sans-serif;
        color: #fff;

        margin-top: 30px;
        
    }
}

//footer area
.footer{
    position: relative;
    text-align: right;
    padding-top: 50px;
    padding-bottom: 70px;
    overflow: hidden;
    .link{
        color:rgb(100, 100, 100);
        transition: all 0.3s;
    }
    .link:hover{
        color: #0082b1;
    }
    address{
        width: 35%;
        float: left;
        h3{
            font-family: 'Cairo' , sans-serif;
            font-size: 34px;
            font-weight: 500;
            font-style: normal;
            color: rgb(66, 66, 66);
        }
        p{
            font-family: 'Cairo' , sans-serif;
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 5px;
            color: rgb(100, 100, 100);
        }

        ul{
            list-style-type: none;
            margin-top: 5px;
            li{
                font-family: 'Cairo' , sans-serif;
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                line-height: 26px;
                color: rgb(100, 100, 100);
            }
        }
    }
    .our_company{
        width: 65%;
        float: left;
        position: relative;
        h3{
            font-family: 'Cairo' , sans-serif;
            font-size: 34px;
            font-weight: 700;
            font-style: normal;
        }
        img{
            width: 180px;
            height: 180px;
        }
        p{
            font-family: 'Cairo' , sans-serif;
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 5px;
            line-height: 24px;
            padding-left: 25%;
            text-justify: distribute;
            color: rgb(63, 63, 63);
            
        }
    }
    .our_company::after{
        content: "";
        position: absolute;
        width: 3px;
        height: 40%;
        top: 30%;
        left: 10%;
        background-color: #6e6e6e;
    }
}
.footer::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    background-color: $primaryAquaBlue;
    top: 95%;
    left: 0px;
    z-index: 10000;
}

.copyrights{
    height: 70px;
    background-color: $grayBackground;
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        p{
            font-family: "Roboto",sans-serif;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            Span{
                color: $primaryAquaBlue;
                font-weight: 700;
                font-size: 14px;
            }
        }
    }
}


/*pages body area Start*/ 
.contactUs-Main{
    background-color: rgb(41, 41, 41);
    padding-top: 30px;
    padding-bottom: 70px;
    display: flex;
    h2{
        position: relative;
        display: flex;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 42px;
        padding-top: 50px;
        padding-bottom: 30px;
        font-weight: 500;
        color: #fff;
        margin:0;
    }
    h2:after{
        content: "";
        position: absolute;
        height: 3px;
        width: 90px;
        background-color: $primaryAquaBlue;
        top: 85%;
    }
    q{
        display: flex;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        margin:0px;
        padding:0px;
        color: rgb(206, 206, 206);
        text-align: center;
    }
    .main-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        margin:auto;
        margin-top: 20px;
        .info{
            position: relative;
            display: flex;
            flex-direction: row;
            margin: 30px 0 50px 0;
            
            width: 70%;
            .left{
                width: 50%;
                display: flex;
                justify-content: flex-start
            }
            .right{
                width: 50%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
            }

            p{
                font-family: 'Cairo', sans-serif;
                font-size: 18px;
                font-weight: 500;
                margin:0px;
                margin-top: 5px;
                
                padding:0px;
                color: #fff;
            }
        }
        .info::after{
            position: absolute;
            content: "";
            height: 100%;
            width: 2px;
            top: 0px;
            left: 50%;
            background-color: rgb(56, 56, 56);
        }

        .send-email{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
                .sender-info{
                    width: 100%;
                
                input{
                    border: 2px solid #f1f1f1;
                    padding: 10px 10px;
                    box-sizing: border-box;
                    background-color:transparent;
                    height: 45px;
                    color: rgb(206, 206, 206);
                    font-family: 'Cairo', sans-serif;
                    font-size: 16px;
                    width: 49.6%;
                    box-shadow: 0px 0px 10px #333333;
                }
                input::placeholder{
                    color: rgb(206, 206, 206);
                }
            }
            textarea{
                border: 2px solid #f1f1f1;
                background-color:transparent;
                padding: 10px 10px;
                box-shadow: 0px 0px 10px #333333;
                color: #eeeeee;
                font-family: 'Cairo', sans-serif;
                font-size: 16px;
                
                height: 40px;
                margin-top: 10px;
                resize: none;
            }
            textarea:focus{
                border-color: #000;
            }
            textarea::placeholder{
                color: rgb(206, 206, 206);
            }
            
            button{
                font-family: 'Cairo', sans-serif;
                color: #3d3d3d;
                border: 2px solid #f1f1f1;
                font-weight: 500;
                width: 120px;
                height: 40px;
                margin: auto;
                margin-top: 10px;
                background-color: #f1f1f1;
                transition: all 0.3s;
            }
            button:hover{
                background-color: $primaryAquaBlue;
                border-color: $primaryAquaBlue;
                color: #fff;
            }
        }
    }
}
/*pages body area end*/ 


/*book menu page start*/ 
.book-menu{
    background-image: url("../image/knitting_smlEDITwhiter.jpg");
    padding: 20px 0 30px 0;
    .menu-header{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;

        h2{
            position: relative;
            width: 50%;
            display: flex;
            justify-content: flex-end;
            font-family: 'Cairo', sans-serif;
            font-size: 42px;
            padding-top: 50px;
            padding-bottom: 30px;
            font-weight: 500;
            color: rgb(61, 61, 61); 
            margin:0;
        }
        P{
            display: flex;
            justify-content: start;
            width: 50%;
            font-family: 'Cairo', sans-serif;
            color:  rgb(100, 100, 100); 
            font-weight: 500;
            font-size: 22px;
        }
    }
    .menu-header:after{
        content: "";
        position: absolute;
        height: 5px;
        width: 100%;
        background-color: $primaryAquaBlue;
        top: 85%;
        
    }

    .grid-container{
        display: grid;
        column-gap: 15px;
        row-gap: 30px;
        grid-template-columns: auto auto auto auto;
        margin: 40px 30px;
        .book-cell{
            position: relative;
            background-color: #fff;
            box-shadow: -2px 4px 1px rgba(73, 73, 73, 0.151);
            padding: 0px 20px 30px 20px;
            transition: all 0.6s;
            width: 195.031px;
            img{
                height: 220px;
                width: 150px;
                margin: auto;
                margin-top: 10px;
                display: block;
            }
            .book-info{
                margin: 15px 0 ;
                .book-name{
                    text-decoration: none;
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 5px;
                    p{
                        text-overflow: ellipsis;
                        font-family: "Cairo", sans-serif;
                        white-space: nowrap;
                        margin:0;
                        font-size: 21px;
                        color: rgb(73, 73, 73);
                        transition: all 0.3s;
                    }
                    p:hover{
                        color: #2c83a3;
                    }
                }
                .writer{
                    text-decoration: none;
                    display: flex;
                    justify-content: flex-end;
                    p{
                        font-family: "Cairo", sans-serif;
                        margin:0;
                        font-weight: 500;
                        font-size: 18px;
                        color: rgb(53, 53, 53);
                    }
                    span{
                        font-family: "Cairo", sans-serif;
                        color: #2c83a3;
                        transition: all 0.3s;
                    }
                    span:hover{
                        color: #055977;
                    }
                }
                .summary{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 30px;
                    p{
                        display: flex;
                        justify-content: flex-end;
                        font-family: "Cairo", sans-serif;
                    }
                }
            }
        }
        .book-cell::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            top: 90%;
            left: 0;
            background-color: rgba(207, 206, 206, 0.478);
        }
        .book-cell:hover{
            box-shadow: 2px 5px 4px rgba(29, 39, 66, 0.349);
        }
    }

    .page-selector{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 30px 0 ;
        ul{
            margin:0;
            padding: 0;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            li{
                list-style-type: none;
                margin-right: 3px;
                a{
                    text-decoration: none;
                    color: #282828;
                    font-family: "cairo", sans-serif;
                    font-size: 20px;
                }
                .active{
                    color: #055977;
                }
                a:hover{
                    color: #055977;
                }
            }
        }
        .next{
            cursor: pointer;
            p{
                margin: 0;
                font-family: "cairo", sans-serif;
                font-size: 20px;
                margin-right: 10px;
                transition: all 0.3s;
                padding: 8px 15px;
                border-radius: 3px;
                cursor: pointer;
                background-color: #2c83a3;
                color: #fff;
            }
            p:hover{
                background-color: #fff;
                color: #6b6b6b;
            }
        }
    }
}

/*book menu page end*/ 

/*book page start*/ 
.book-page{
    
    .white{
        padding-top: 80px;
        background-image: url("../image/knitting_smlEDITwhiter.jpg");
        padding-bottom: 30px;
        .wraper{
            margin-right: 80px;
            display: flex;
            flex-direction: row-reverse;
            .book-page-image{
                width: 32%;
                display: flex;
                justify-content: flex-end;
                img{
                    height: 380px;
                    width: 275px;
                    margin: auto;
                    z-index: 9;
                }
            }
            .book-info{
                padding-top: 60px;
                width: 68%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                h2{
                    position: relative;
                    font-family: 'Cairo', sans-serif;
                    font-size: 42px;
                    font-weight: 500;
                    color: #474747;
                    padding: 20px 0px;
                    margin: 0;
                }
                h4{
                    font-family: 'Cairo', sans-serif;
                    font-size: 20px;
                    color: #535353;
                    margin-top: 0;
                    margin-bottom: 15px;
                    margin-right: 15px;
                }
                ul{
                    display: flex;
                    list-style-type: none;
                    margin-top: 0;
                    margin-bottom: 40px;
                    li{
                        font-family: 'Cairo', sans-serif;
                        font-size: 18px;
                        margin-left: 10px;
                        padding: 4px 8px;
                        border-radius: 12px;
                        color: #fff;
                        background-color: rgb(158, 158, 158);
                    } 
                }
            }
        }
        a{
            text-decoration: none;
            color: $primaryAquaBlue;
        }
    }
    .black{
        background-color: $grayBackground;
        height: 50%;
        .summary{
            margin-left: 12%;
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h2{
                position: relative;
                color: #fff;
                font-family: 'Cairo', sans-serif;
                font-size: 26px;
                padding-bottom: 10px;
            }
            h2::after{
                content: "";
                position: absolute;
                height: 2px;
                width: 100px;
                top: 99%;
                right: 0;
                background-color: #055977;
            }
            p{
                color: #fff;
                font-family: 'Cairo', sans-serif;
                font-size: 18px;
                line-height: 1.4em;
                margin-left: 10%;
                margin-right: 10px;
            }
        }
        .recommended{
            width: 32%;
        }
    }
}
/*book page end*/ 

/*pages body area end*/ 






/*responive*/ 
@media (max-width: 1100px){
    .container{
        width: 900px;
    }
    .navbar{
        ul{
            margin-left: 0px;
            li{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .main-icon{
        }
    }
    .writer-photo{
        width: 540Px;
    }

    .book-menu{

        .grid-container{
            grid-column: 8px;
            .book-cell{
                width:162.031px;
            }
        }
    }

    .book-page-image{
        width: 50% !important;
    }
    .book-info{
        width: 70% !important;
    }
}

@media (max-width: 915px){
    .container{
        width:100%;
    }
    .book-slider{
        .books{
            Ul{
                flex-direction: column;
                justify-content: center;
                li{
                    width: 100%;
                    margin-bottom: 20px;
                    .book-image{
                        img{
                            height: 380px;
                            width: 260px;
                        }
                    }
                    .book-description{
                        p{
                            max-width: 33.3333%;
                        }
                    }
                }
            }
        }
    }

    .writers{
        
        .writer-card{
            
            .writer-photo{
                width: 70%;
            }
    
            .writer-info{
                left: -30px;
                padding: 30px 20px;
                p{
                    font-size: 16px;
                }
            }
        }
    }


    .sender-info{
        input{
            width: 49.2% !important;
        }
    }

    .book-menu{

        .grid-container{
            grid-template-columns: auto auto auto;
            .book-cell{
                width:193.031px;
            }
        }
    }
    /*.writers{
        height: 1200px;
        padding-bottom: 100px;
        .writer-card{
            f
            height: 1200px;
            .writer-photo{
                margin: 0 10%;
                width: 80%;
            }
    
            .writer-info{
                margin: 0 10%;
                width: 80%;
                position: static; 
            }
        }
    }*/

    
}

@media (max-width: 800px){
    .writers{
        
        .writer-card{
            
            .writer-photo{
                width: 70%;
            }
    
            .writer-info{
                left: -100px;
                top: 260px;
                padding: 30px 20px;
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .book-menu{

        .grid-container{
            grid-template-columns: auto auto auto;
            .book-cell{
                width:166.031px;
            }
        }
    }

    .book-page{
        .wraper{
            margin-right: 0 !important;
        }
    }
}

@media (max-width: 700px){
    .navbar{
        a{
            margin-left: 10px;
        }
    }
    .writers{
        height: auto;
        .writer-card{
            height: auto;
            flex-direction: column;
            align-content: center;
            .writer-photo{
                width: 70%;
                height: 600px;
                margin: 0 15%;
            }
    
            .writer-info{
                position: static;
                width: 80%;
                margin: 0 5%;
                p{
                    font-size: 16px;
                }
            }
        }
    }

    .book-menu{

        .grid-container{
            grid-template-columns: auto auto;
            .book-cell{
                width:193.031px;
            }
        }
    }

    .summary{
        margin-left: 0px !important;
        width: 90% !important;
    }
}

@media (max-width: 600px){
    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: flex;
    }
    .mobile_nav_menu{
        display: block;
    }
    .cover-short{
        height: 720px !important;
    }
    .header-area{
        height: 720px;
        .white{
            height: 66.666666%; 
        }
        .black{
            height: 33.33333%;
            box-shadow: none;
        }
        .todays-book{
            flex-direction: column;
            margin-left: 0px;
            margin-top: 0px;
            top: 0px;
            left: 50%;
            .book-image{
                margin-top: 160px;
                height: 66.666666%;
                img{
                    height: 320px;
                    width: 240px;
                }
            }
            .book-info{
                margin-right: 0px;
                
                h2{
                    margin: 15px 0 20px 0;
                    padding-top: 20px;
                    font-size: 30px;
                    color: #fff;
                    text-shadow: #000000 1px 0 10px;
                }
                h4{
                    text-shadow: #000000 1px 0 10px;
                    font-size: 16px;
                }
            }
        }
    }




    .book-slider{
        box-shadow: inset 0px 0px 10px #717171;
        .books{
                li{
                    margin-bottom: 40px;
                .book-image{
                    img{
                        height: 280px !important;
                        width: 200px !important;
                    }
                }
                .book-description{
                    h3{
                        padding-bottom: 15px;
                        font-size: 19px;
                    }
                    p{
                        max-width: 85% !important;
                        font-size: 14px;
                        
                    }
                }
            }
        }
    }
    .quote{
        q{
            font-size: 20px;
        }
        p{
            font-size: 22px;
        }
    }


    .contactUs-Main{
        .main-body {
            max-width: 100%;
            .info{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .left{
                    display: block;
                }
                p{

                }
            }
            .info::after{
                background-color: transparent;
            }
            .send-email{
                width: 98% !important;
            }
            .sender-info{
                input{
                    margin-bottom: 5px;
                    width: 100% !important;
                    background-color: #363636 !important;
                    border-color: #363636 !important;
                }
                input:hover{
                    background-color: #4d4d4d !important;
                    border-color: #4d4d4d !important;
                }
                input:focus{
                    background-color: #6d6c6c !important;
                    border-color: #6d6c6c !important;
                }
            }
            textarea{
                background-color: #363636 !important;
                border-color: #363636 !important;
            }
            textarea:hover{
                background-color: #4d4d4d !important;
                border-color: #4d4d4d !important;
            }
            
            
            textarea:focus{
                background-color: #6d6c6c !important;
                border-color: #6d6c6c !important;
            }
        }
    }


    .footer{
        .wraper{
            margin-right: 10px;
            display: flex;
            flex-direction: column-reverse;
            align-content: center;
            address{
                width: 100%;
            }
            .our_company{
                width: 100%;
                P{
                    padding-left: 10%;
                }
            }
            .our_company::after{
                background-color: transparent;
            }
        }
    }
    .footer::after{
        top: 98%;
    }

    .copyrights{
        .text{
            p{
                font-size: 12px
            }
        }
    }

    .book-page{
        .white{
            .wraper{
                flex-direction: column;
                .book-page-image{
                    width: 95% !important;
                }
                .book-info{
                    width: 95% !important;
                    padding-top: 20px;
                }
            }
        }
    }
}



@media (max-width: 550px){
    .writers{
        padding: 50px 0 70px 0;
        .writer-card{
            
            .writer-photo{
                height: 600Px;
                width: 100%;
                margin: 0;
            }
    
            .writer-info{
                width: 93%;
                margin: 0;
                margin-top: 60px;
                
                p{
                   font-size: 15px;
                }
            }
        }
    }

    .book-menu{

        .grid-container{
            grid-template-columns: auto auto;
            .book-cell{
                width:166.031px;
            }
        }
    }
}

@media (max-width: 480px){
    .book-menu{

        .grid-container{
            grid-template-columns: auto auto;
            .book-cell{
                width: 146px;
                
                Img{

                }
            }
        }
        p{
            font-size: 15px !important;
        }
    }
}

@media (max-width: 440px){
    .book-menu{
        .amount{
            font-size: 15px !important;
        }
        .grid-container{
            grid-template-columns: auto;
            row-gap: 12px;
            margin: 20px 40px;
            .book-cell{
                width: auto;
                
                Img{
                    height: 280px;
                    width: 200px;
                }
            }
        }
        p{
            font-size: 20px !important;
        }
    }
    .book-page{
        .white{
            .wraper{
                flex-direction: column;
                .book-page-image{
                    width: 100% !important;
                }
                .book-info{
                    width: 97% !important;
                    padding-top: 20px;
                }
            }
        }
        .summary{
            width: 97% !important;
            margin-left: 0;
            p{
                font-size: 15px !important;
            }
        }
    }
}

@media (max-width: 330px){
    .book-menu{

        .grid-container{
            grid-template-columns: auto;
            margin: 20px 10px;
            .book-cell{
                width: auto;
                
                Img{
                    height: 250px;
                    width: 180px;
                }
            }
        }
        p{
            font-size: 22px !important;
            margin-bottom: 10px;
        }
    }
}